footer.footer 
  .footer__wrap
    .footer__nav 
      .footer__nav-item.footer__nav-item_row
        a.footer__link(href="#" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") технология
        a.footer__link(href="#" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") компания
        a.footer__link(href="#" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") контакты
      .footer__nav-item
        a.footer__link.footer__link_big(
          data-sal="fade"
          data-sal-duration="400"
          data-sal-easing="ease-in-sine"
          href="/catalog.html"
          data-link="redirect") 
          span.footer__link-text продукция
          span.footer__link-count 78
        a.footer__link(href="/catalog-inner.html" data-link="redirect" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") Бокалы для вина
        a.footer__link(href="/catalog-inner.html" data-link="redirect" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") Для шампанского
        a.footer__link(href="/catalog-inner.html" data-link="redirect" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") Для мартини
        a.footer__link(href="/catalog-inner.html" data-link="redirect" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") Для коньяка
        a.footer__link(href="/catalog-inner.html" data-link="redirect" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") Рюмки
        a.footer__link(href="/catalog-inner.html" data-link="redirect" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") Вазы
        a.footer__link(href="/catalog-inner.html" data-link="redirect" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") пепельницы
        a.footer__link(href="/catalog-inner.html" data-link="redirect" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") категория
    .footer__info
      .footer__contacts 
        address.footer__address(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine")
          | Россия,&nbsp;
          br
          | Владимирская область, г. Гусь-Хрустальный,&nbsp;
          br
          | ул. Интернациональная, д. 124
        a.footer__contact(href="tel:+7800333666123" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") 8 800 333 666 123
        a.footer__contact(href="mailto:info@glasstar.com" data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") info@glasstar.com
      .footer__developedby(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine")
        | design & develompent at&nbsp;
        br
        a(href="#") vse.digital
