-
  var headerNav = [
    {
      href: '/catalog.html',
      text: 'Продукция',
    },
    {
      href: '/technology.html',
      text: 'Технология',
    },
    {
      href: '/about.html',
      text: 'Завод',
    },
    {
      href: '/contact.html',
      text: 'Контакты',
    },
  ];

header.header(data-header="block")
  .header__wrap
    nav.header__nav
      each link, index in headerNav
        a.header__link(href=link.href data-link="redirect")
          span.header__link-text #{ link.text }
          span.header__link-count 0#{ index + 1 }.
    a.header__logo(href="/" data-link="redirect") Glasstar
    .header__callback
      button.header__callback-btn(data-modal="open-callback") Перезвоните мне
      a.header__callback-link(href="tel:+78001234567") +7 492 412 12 62
    .header__lang 
      a.header__lang-item.header__lang-item--active(href="#") RU
      a.header__lang-item(href="#") ENG
    button.header__menu-btn(data-header="menu-btn")
      svg
        line(x1="0" x2="60" y1="1" y2="1")
        line(x1="60" x2="0" y1="13" y2="13")
  .header__menu(data-header="menu")
    nav.header__nav
      each link, index in headerNav
        a.header__link(href=link.href data-link="redirect")
          span.header__link-text #{ link.text }
          span.header__link-count 0#{ index + 1 }.
    .header__contacts
      a.header__contact(href="tel:+7800333666123") 8 800 333 666 123
      a.header__contact(href="mailto:info@glasstar.com") info@glasstar.com
