include settings.pug

section.loader(data-loader="block")
  .loader__wrap
    h2.loader__title(data-loader="percents") 0
    .loader__items
      img.loader__item(src=`${imgPath}loader/item-1.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-2.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-3.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-4.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-5.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-6.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-7.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-8.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-9.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-10.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-1.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-2.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-3.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-4.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-5.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-6.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-7.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-8.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-9.svg` alt="glss-icon")
      img.loader__item(src=`${imgPath}loader/item-10.svg` alt="glss-icon")
