mixin catalog(title, subtitle)
  section.catalog
    .catalog__wrap 
      if title
        .catalog__header 
          h2.catalog__title(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") #{ title }
          p.catalog__counter(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") (8)
      if subtitle
        p.catalog__subtitle(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine") #{ subtitle }
      .catalog__items
        - var n = 0;
        while n < 8
          .catalog__item(data-sal="fade" data-sal-duration="400" data-sal-easing="ease-in-sine")
            a.catalog__item-img(href="/card.html" data-link="redirect") 
              img(src=`${imgPath}catalog/good-${n + 1}.png` alt="good-image")
            .catalog__item-info 
              a.catalog__item-caption(href="/card.html" data-link="redirect") Golden bro
              p.catalog__item-descr Для красного вина
          - n++;

mixin modal(title, good)
  if good
    section.modal.modal-good(data-modal="block")
      .modal__wrap
        button.modal__close(data-modal="close-btn")
          img(src=`${imgPath}modal/close-icon.svg` alt="close-icon")
        h2.modal__title #{ title }
        .modal__img 
          img(src=`${imgPath}modal/good-img.png` alt="good-img")
        form.modal__form
          input.input(type="text" name="name" placeholder="Имя")
          input.input(type="tel" name="phone" inputmode="tel" placeholder="Телефон")
          button 
            span Перезвоните мне
            img(src=`${imgPath}modal/arrow-to-right.svg` alt="arrow-icon")
  else
    section.modal(data-modal="block")
      .modal__wrap
        button.modal__close(data-modal="close-btn")
          img(src=`${imgPath}modal/close-icon.svg` alt="close-icon")
        h2.modal__title перезвоните мне
        form.modal__form
          input.input(type="text" name="name" placeholder="Имя")
          input.input(type="tel" name="phone" inputmode="tel" placeholder="Телефон")
          button 
            span Перезвоните мне
            img(src=`${imgPath}modal/arrow-to-right.svg` alt="arrow-icon")
